################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/ARM
/x64
/Win32
/Debug
/Release
/AppPackages
/Game/~$level-file-format.xlsx
/Game/level-file-format.xlsx
/Game/~$clumsypack.xlsm
/Game/Mobs/Enemies/death.svg
/continuousIntegration/x64
/continuousIntegration/x64
*.log
/platform/Media/Levels/grassmere.bloodot.bak
/platform/Media/Levels/grassmere.bloodot.bak
