################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/ARM
/x64
/Win32
/Debug
/Release
/AppPackages
/Game/~$level-file-format.xlsx
/Game/level-file-format.xlsx
/Game/~$clumsypack.xlsm
/Game/Mobs/Enemies/death.svg
/continuousIntegration/x64
/continuousIntegration/x64
*.log
/platform/Media/Levels/grassmere.bloodot.bak
/platform/Media/Levels/grassmere.bloodot.bak
/platform/Media/Scenes/element-cube118.png
/platform/Media/Scenes/element-cube117.png
/platform/Media/Scenes/element-cube116.png
/platform/Media/Scenes/element-cube115.png
/platform/Media/Scenes/element-cube114.png
/platform/Media/Scenes/element-cube113.png
/platform/Media/Scenes/element-cube112.png
/platform/Media/Scenes/element-cube111.png
/platform/Media/Scenes/element-cube110.png
/platform/Media/Scenes/element-cube109.png
/platform/Media/Scenes/element-cube108.png
/platform/Media/Scenes/element-cube107.png
/platform/Media/Scenes/element-cube106.png
/platform/Media/Scenes/element-cube105.png
/platform/Media/Scenes/element-cube104.png
/platform/Media/Scenes/element-cube103.png
/platform/Media/Scenes/element-cube102.png
/platform/Media/Scenes/element-cube101.png
/platform/Media/Scenes/element-cube100.png
/platform/Media/Scenes/element-cube099.png
/platform/Media/Scenes/element-cube098.png
/platform/Media/Scenes/element-cube097.png
/platform/Media/Scenes/element-cube096.png
/platform/Media/Scenes/element-cube095.png
/platform/Media/Scenes/element-cube094.png
/platform/Media/Scenes/element-cube093.png
/platform/Media/Scenes/element-cube092.png
/platform/Media/Scenes/element-cube091.png
/platform/Media/Scenes/element-cube090.png
/platform/Media/Scenes/element-cube089.png
/platform/Media/Scenes/element-cube088.png
/platform/Media/Scenes/element-cube087.png
/platform/Media/Scenes/element-cube086.png
/platform/Media/Scenes/element-cube085.png
/platform/Media/Scenes/element-cube084.png
/platform/Media/Scenes/element-cube083.png
/platform/Media/Scenes/element-cube082.png
/platform/Media/Scenes/element-cube081.png
/platform/Media/Scenes/element-cube080.png
/platform/Media/Scenes/element-cube079.png
/platform/Media/Scenes/element-cube078.png
/platform/Media/Scenes/element-cube077.png
/platform/Media/Scenes/element-cube076.png
/platform/Media/Scenes/element-cube075.png
/platform/Media/Scenes/element-cube074.png
/platform/Media/Scenes/element-cube073.png
/platform/Media/Scenes/element-cube072.png
/platform/Media/Scenes/element-cube071.png
/platform/Media/Scenes/element-cube070.png
/platform/Media/Scenes/element-cube069.png
/platform/Media/Scenes/element-cube068.png
/platform/Media/Scenes/element-cube067.png
/platform/Media/Scenes/element-cube066.png
/platform/Media/Scenes/element-cube065.png
/platform/Media/Scenes/element-cube064.png
/platform/Media/Scenes/element-cube063.png
/platform/Media/Scenes/element-cube062.png
/platform/Media/Scenes/element-cube061.png
/platform/Media/Scenes/element-cube060.png
/platform/Media/Scenes/element-cube059.png
/platform/Media/Scenes/element-cube058.png
/platform/Media/Scenes/element-cube057.png
/platform/Media/Scenes/element-cube056.png
/platform/Media/Scenes/element-cube055.png
/platform/Media/Scenes/element-cube054.png
/platform/Media/Scenes/element-cube053.png
/platform/Media/Scenes/element-cube052.png
/platform/Media/Scenes/element-cube051.png
/platform/Media/Scenes/element-cube050.png
/platform/Media/Scenes/element-cube049.png
/platform/Media/Scenes/element-cube048.png
/platform/Media/Scenes/element-cube047.png
/platform/Media/Scenes/element-cube046.png
/platform/Media/Scenes/element-cube045.png
/platform/Media/Scenes/element-cube044.png
/platform/Media/Scenes/element-cube043.png
/platform/Media/Scenes/element-cube042.png
/platform/Media/Scenes/element-cube041.png
/platform/Media/Scenes/element-cube040.png
/platform/Media/Scenes/element-cube039.png
/platform/Media/Scenes/element-cube038.png
/platform/Media/Scenes/element-cube037.png
/platform/Media/Scenes/element-cube036.png
/platform/Media/Scenes/element-cube035.png
/platform/Media/Scenes/element-cube034.png
/platform/Media/Scenes/element-cube033.png
/platform/Media/Scenes/element-cube032.png
/platform/Media/Scenes/element-cube031.png
/platform/Media/Scenes/element-cube030.png
/platform/Media/Scenes/element-cube029.png
/platform/Media/Scenes/element-cube028.png
/platform/Media/Scenes/element-cube027.png
/platform/Media/Scenes/element-cube026.png
/platform/Media/Scenes/element-cube025.png
/platform/Media/Scenes/element-cube024.png
/platform/Media/Scenes/element-cube023.png
/platform/Media/Scenes/element-cube022.png
/platform/Media/Scenes/element-cube021.png
/platform/Media/Scenes/element-cube020.png
/platform/Media/Scenes/element-cube019.png
/platform/Media/Scenes/element-cube018.png
/platform/Media/Scenes/element-cube017.png
/platform/Media/Scenes/element-cube016.png
/platform/Media/Scenes/element-cube015.png
/platform/Media/Scenes/element-cube014.png
/platform/Media/Scenes/element-cube013.png
/platform/Media/Scenes/element-cube012.png
/platform/Media/Scenes/element-cube011.png
/platform/Media/Scenes/element-cube010.png
/platform/Media/Scenes/element-cube009.png
/platform/Media/Scenes/element-cube008.png
/platform/Media/Scenes/element-cube007.png
/platform/Media/Scenes/element-cube006.png
/platform/Media/Scenes/element-cube005.png
/platform/Media/Scenes/element-cube004.png
/platform/Media/Scenes/element-cube003.png
/platform/Media/Scenes/element-cube002.png
/platform/Media/Scenes/element-cube001.png
/platform/Media/Scenes/element-cube.pov.bak
